#advantagesPage {
  @include size(100vw, auto);
  @include flex(column, center, center);
}

.headingContent {
  @include size(calc((635 / 1170) * 100%), auto);
  @include flex(column, center, center);
  margin-top: 125px;

  @include mobile-w {
    width: 100%;
    margin-top: 50px;
  }

  @include mobile {
    width: 100%;
    margin-top: 50px;
  }
}

.advantagesList {
  @include size(calc((970 / 1170) * 100%), auto);
  @include flex(row, flex-start, space-evenly);
  flex-wrap: wrap;
  margin-top: 95px;

  @include desktop {
    @include flex(row, flex-start, space-between);
  }

  @include mobile-w {
    margin-top: 50px;
  }

  @include mobile {
    margin-top: 50px;
  }

  &__item {
    @include size(260px, auto);
    @include flex(column, center, flex-start);
    margin-bottom: 70px;

    @include mobile-w {
      margin-bottom: 50px;
    }

    @include mobile {
      margin-bottom: 50px;
    }

    &__iconContainer {
      @include size(90px, 90px);
      @include flex(column, center, center);
      border-radius: 50%;

      &--first {
        background-color: $pinkIcon;
      }

      &--second {
        background-color: $blueIcon;
      }

      &--third {
        background-color: $yellowIcon;
      }

      &--fourth {
        background-color: $greenIcon;
      }

      &--fifth {
        background-color: $purpleIcon;
      }

      &--sixth {
        background-color: $orangeIcon;
      }
    }

    &__icon {
      @include size(58px, auto);
    }

    &__title {
      margin-top: 35px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: $darkBlue;

      @include mobile-w {
        margin-top: 20px;
      }

      @include mobile {
        margin-top: 20px;
      }
    }

    &__subtitle {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      color: $darkGray;
    }
  }
}

.advantagesList__item__iconContainer--second img {
  @include size(50px, auto);
}
