/* Variables:
  ========================================================================== */

// fonts
$font:"Poppins",
sans-serif;

// colors
$darkBlue: #242f51;
$lightBlue: #2500f9;

$darkGray: #616368;
$lightGray: #e2eaed;

$darkYellow: #feaa25;
$lightYellow: #fcae61;

$pinkIcon: #ffecef;
$blueIcon: #eaf9ff;
$yellowIcon: #fff6d3;
$greenIcon: #e4ffee;
$purpleIcon: #f4f4ff;
$orangeIcon: #fdeee4;

$blueBG: #f5f7fa;

$black: black;
$white: white;